.main_block {
  margin-top: 40px;
}

.logout_user_block {
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}

.text-center {
  text-align: center;
}

.text_small {
  font-size: 12px;
}

.td_disable, .main__block--disable{
  display: none;
}

.button--enable {
  background-color: #343a40;
}

.group-button-table {
  margin: 10px 0;
}

.menu--enable{
  font-weight: bold;
}

.th-data {
  width: 110px;
}
