<div class="buttons-control">
  <a class="buttons-control__item button-balance" href="#" title="Остаток на начало месяца">Остаток</a>
  <a class="buttons-control__item button-arpu" href="#">ARPU</a>
  <a class="buttons-control__item button-active-user" href="#" title="Количество активных пользователей на начало месяца">Активных</a>
  <a class="buttons-control__item button-avg-balance-active" href="#" title="Средний баланс активных пользователей на начало месяца">Баланс активных</a>
  <a class="buttons-control__item button-avg-balance-all" href="#" title="Средний баланс всех пользователей на начало месяца">Баланс всех</a>
</div>
<table class="main-table" >
  <thead>
  <tr>
      <th class="main-table__th">Дата</th>
      <th class="main-table__th">Сумма</th>
      <th class="main-table__th" colspan=2>Изменение суммы</th>
      <th class="main-table__th td-balance td_disable">Остаток</th>
      <th class="main-table__th">Платежей</th>
      <th class="main-table__th" colspan=2>Изменение количества</th>
      <th class="main-table__th td-arpu td_disable">ARPU</th>
      <th class="main-table__th td-active-user td_disable">Активных</th>
      <th class="main-table__th td-avg-balance-active td_disable">Баланс активных</th>
      <th class="main-table__th td-avg-balance-all td_disable">Баланс всех</th>

  </tr>
  </thead>
  <tbody class="text-center">
  {% for pay in pays_stat %}
      {% if pay.sum_dif < 0 %}
      <tr class='warning'>
      {% else %}
      <tr>
      {% endif %}
          <td>
              <a href="{{ url_for('utmbill.utmpays_statistic') }}{{ pay.date.strftime('%Y') }}/{{ pay.date.strftime('%m') }}">{{ pay.date.strftime('%Y-%m') }}</a>
          </td>
          <td>{{ pay.summ|round(2) }}</td>
          {% if pay.sum_dif == 0 %}
              <td></td><td></td>
          {% else %}
              <td class="main-table__td main-table__td--center">{{ pay.sum_dif|round(2) }}</td><td class="main-table__td main-table__td--center">{{ pay.sum_dif_p }}%</td>
          {% endif %}
          <td class="main-table__td main-table__td--center td-balance td_disable">{{ pay.sum_balance }}</td>
          <td class="main-table__td main-table__td--center">{{ pay.count }}</td>
          {% if pay.count_dif == 0%}
              <td></td><td></td>
          {% else %}
              <td class="main-table__td main-table__td--center">{{ pay.count_dif }}</td>
              <td class="main-table__td main-table__td--center">{{ pay.count_dif_p }}%</td>
          {% endif %}
          <td class="main-table__td main-table__td--center td-arpu td_disable">{{ pay.avg }}</td>
          <td class="main-table__td main-table__td--center td-active-user td_disable">{{ pay.count_active|round(2) }}</td>
          <td class="main-table__td main-table__td--center td-avg-balance-active td_disable">
            {% if pay.avg_balance %}
              {{ pay.avg_balance|round(2) }}
            {% endif %}
          </td>
          <td class="main-table__td main-table__td--center td-avg-balance-all td_disable">{{ pay.avg_balance_all|round(2) }}</td>
      </tr>
      {% endfor %}
      <tr>
          <td><b>Итого</b></td>
          <td><b>{{ pays_stat_summary.summ|round(2) }}</b></td>
          <td></td><td></td>
          <td class="td-balance td_disable"></td>
          <td><b>{{ pays_stat_summary.count }}</b></td>
          <td></td><td></td>
          <td class="td-arpu td_disable"></td>
          <td class="td-active-user td_disable"></td>
          <td class="td-avg-balance-active td_disable"></td>
          <td class="td-avg-balance-all td_disable"></td>
      </tr>
      <tr>
          <td><b>Среднее</b></td>
          <td><b>{{ pays_stat_summary.avg_summ|round(2) }}</b></td>
          <td></td><td></td>
          <td class="td-balance td_disable"></td>
          <td><b>{{ pays_stat_summary.avg_count|round }}</b></td>
          <td></td><td></td>
          <td class="td-arpu td_disable"><b>{{ pays_stat_summary.avg_pay|round(2) }}</b></td>
          <td class="td-active-user td_disable"></td>
          <td class="td-avg-balance-active td_disable"></td>
          <td class="td-avg-balance-all td_disable"></td>
      </tr>
  </tbody>
</table>
