<!-- Graphs -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
var data_lables = [{% for pay in pays_stat %} "{{ pay.date.strftime('%Y/%m') }}", {% endfor %}];

var ctx = document.getElementById("pays_graphs");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: data_lables,
        datasets: [{
            label: "Платежи",
            borderColor: 'blue',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.summ }}, {% endfor %}],
        },
        {
            label: "Исходящий остаток активных абонентов на начало месяца",
            borderColor: 'red',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.sum_balance }}, {% endfor %}],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                }
            }]
        }
    }
});

var ctx_count = document.getElementById("pays_count");
var myChart = new Chart(ctx_count, {
// The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
        labels: data_lables,
        datasets: [{
            label: "Количество платежей",
            borderColor: 'blue',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.count }}, {% endfor %}],
            },
            {
            label: "Количество активных абонентов на 1 число",
            borderColor: 'red',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.count_active }}, {% endfor %}],
            },
            {
            label: "Средний баланс активных абонентов (смасштабирован: умножен на 5)",
            borderColor: 'green',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.avg_balance }} * 5, {% endfor %}],
            },
        ]
    },
});


var ctx_balance = document.getElementById("balance");
var myChart = new Chart(ctx_balance, {
// The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
        labels: data_lables,
        datasets: [
            {
            label: "Средний баланс активных абонентов",
            borderColor: 'green',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.avg_balance }}, {% endfor %}],
            },
            {
            label: "Средний баланс активных абонентов",
            borderColor: 'red',
            backgroundColor: 'transparent',
            lineTension: 0.2,
            borderWidth: 2,
            pointRadius: 1,
            data: [{% for pay in pays_stat %} {{ pay.avg_balance_all }}, {% endfor %}],
            },
        ]
    },
});
</script>
