{% extends "base_new.html" %}

{% block menu %}
<div class="menu">
  <div class='menu__setting'>

  </div>
  <div class="menu__choice-date button-dropdown">
    Выбрать месяц
    <div class="button-dropdown__menu dropdown--uncollapse">
      {% for month in months %}
        {% if month.strftime('%Y/%m') in request.path %}
          <a class="dropdown__date" href="{{ url_for('utmbill.block_users_month', year=month.strftime('%Y'), month=month.strftime('%m')) }}">{{ month.strftime('%Y - %m') }}</a>
        {% else %}
          <a class="dropdown__date" href="{{ url_for('utmbill.block_users_month', year=month.strftime('%Y'), month=month.strftime('%m')) }}">{{ month.strftime('%Y - %m') }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock menu %}

{% block main %}
<div class="row">
    <div class="col-xs-12">
        <h1>Блокировка за {{ date_begin.strftime('%Y-%m') }}</h1>
        {% if blocks %}
            <p>Всего заблокировано {{ blocks|length }} абонентов</p>
            <table class="main-table">
                <thead>
                    <tr>
                        <th class="main-table__th">Логин</th>
                        <th class="main-table__th">Абонент</th>
                        <th class="main-table__th">Адрес</th>
                        <th class="main-table__th">Тариф</th>
                        <th class="main-table__th">Телефон</th>
                        <th class="main-table__th main-table__th--th-date">Дата</th>
                    </tr>
                </thead>
                {% for block in blocks %}
                    <tbody>
                        <tr class="main-table__tr">
                            <td class="main-table__td main-table__td--center">{{ block.login}}</td>
                            <td class="main-table__td">{{ block.user }}</td>
                            <td class="main-table__td">{{ block.address }}</td>
                            <td class="main-table__td main-table__td--center">{{ block.tarif }}</td>
                            <td class="main-table__td main-table__td--center">{{ block.phone }}</td>
                            <td class="main-table__td main-table__td--center">{{ block.date.strftime("%Y-%m-%d") }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p>No blocks are available.</p>
        {% endif %}
    </div>
</div>

{% endblock main %}

{% block script %}
<script type="text/javascript" src="/static/webpack/output/bundle.min.js"></script>
{% endblock script %}
