{% extends "base.html" %}

{% block main %}
<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
          <li class="dropdown active"><a href="" data-toggle="dropdown" class="dropdown-toggle">
              Выбрать месяц <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  {% for month in months %}
                      {% if month.strftime('%Y/%m') in request.path %}
                        <li class="active"><a href="{{ url_for('utmbill.block_users_month', year=month.strftime('%Y'), month=month.strftime('%m')) }}">{{ month.strftime('%Y - %m') }}</a>
                      {% else %}
                        <li><a href="{{ url_for('utmbill.block_users_month', year=month.strftime('%Y'), month=month.strftime('%m')) }}">{{ month.strftime('%Y - %m') }}</a>
                      {% endif %}
                  {% endfor %}
              </ul>
          </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Блокировка за {{ date_begin.strftime('%Y-%m') }}</h1>
        {% if blocks %}
            <p>Всего заблокировано {{ blocks|length }} абонентов</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Абонент</th>
                        <th>Адрес</th>
                        <th>Тариф</th>
                        <th>Телефон</th>
                        <th class="th-data">Дата</th>
                    </tr>
                </thead>
                {% for block in blocks %}
                    <tbody>
                        <tr>
                            <td>{{ block.login}}</td>
                            <td>{{ block.user }}</td>
                            <td>{{ block.address }}</td>
                            <td>{{ block.tarif }}</td>
                            <td>{{ block.phone }}</td>
                            <td>{{ block.date.strftime("%Y-%m-%d") }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p>No blocks are available.</p>
        {% endif %}
    </div>
</div>

{% endblock main %}
