{% extends "base_new.html" %}

{% block menu %}
<div class="buttons-control">
  <a class="buttons-control__item show-table buttons-control__item--enable" href="#">Таблица с данными</a>
  <a class="buttons-control__item show-graph-pays" href="#">График</a>
</div>
{% endblock menu %}

{% block main %}
{% if pays_stat %}
    <h1>Платежи за {{ date_begin.strftime('%Y-%m') }}</h1>
    <div class="main_item main__graph-pays main__block--disable">
      <canvas id="myChart" width="400" height="150"></canvas>
    </div>
    <div class="main_item main__table">

      <table class="main-table" >
          <thead>
              <tr>
                  <th class="main-table__th">Дата</th>
                  <th class="main-table__th">Сумма</th>
                  <th class="main-table__th">Количество</th>
                  <th class="main-table__th">ARPU</th>
              </tr>
          </thead>
          <tbody>
              {% for pay in pays_stat %}
              <tr class="main-table__tr">
                  <td class="main-table__td main-table__td--center">{{ pay.date.strftime('%Y-%m-%d') }}</td>
                  <td class="main-table__td main-table__td--center">{{ pay.summ|round(2) }}</td>
                  <td class="main-table__td main-table__td--center">{{ pay.count }}</td>
                  <td class="main-table__td main-table__td--center">{{ pay.avg }}</td>
              </tr>
              {% endfor %}
              <tr class="main-table__tr">
                  <td class="main-table__td main-table__td--center"><b>Итого</b></td>
                  <td class="main-table__td main-table__td--center"><b>{{ pays_stat_summary.summ|round(2) }}</b></td>
                  <td class="main-table__td main-table__td--center"><b>{{ pays_stat_summary.count }}</b></td>
                  <td class="main-table__td main-table__td--center"></td>
              </tr>
          </tbody>
      </table>
    </div>
{% else %}
    <p>No pays are available.</p>
{% endif %}

{% endblock main %}

{% block script %}
<script type="text/javascript" src="/static/webpack/output/bundle.min.js"></script>
{% include '_pays_month_chart_js.html' %}
{% endblock script %}
