{% extends "base_new.html" %}

{% block menu %}
<div class="buttons-control">
  <a class="buttons-control__item show-table buttons-control__item--enable" href="#">Таблица с данными</a>
  <a class="buttons-control__item show-graph-pays" href="#">Платежи</a>
  <a class="buttons-control__item show-graph-count-pays" href="#">Количество платежей</a>
  <a class="buttons-control__item show-graph-balance" href="#">Баланс</a>
</div>
{% endblock menu %}

{% block main %}
<h1>Платежи физических лиц</h1>
{% if pays_stat %}
<div class="main_item main__table">
  {% include '_pays_year_table.html' %}
</div>
<div class="main_item main__graph-pays main__block--disable">
  <canvas id="pays_graphs" class="main_item__graph"></canvas>
</div>
<div class="main_item main__graph-count-pays main__block--disable">
  <h2>График количества платежей</h2>
  <canvas id="pays_count" class="main_item__graph"></canvas>
</div>
<div class="main_item main__graph-balance main__block--disable">
  <h2>График средних балансов абонентов</h2>
  <canvas id="balance" class="main_item__graph"></canvas>
</div>
{% endif %}
{% endblock main %}

{% block script %}
<script type="text/javascript" src="/static/webpack/output/bundle.min.js"></script>
{% include '_pays_year_chart_js.html' %}

{% endblock script %}
